.loans-body-wrapper {
    @apply grid grid-cols-12 grid-rows-12 gap-1 w-full h-full overflow-hidden min-h-full p-5;
  }
  
  .loan-card {
    @apply min-h-28 mb-2;
    grid-row-start: 1;
    grid-row-end:  7;
    grid-column-start: 7;
    grid-column-end: 11;
  }

  

  .prev-loan-card{
    grid-row-start: 8;
    grid-row-end: span 6;
    grid-column-start: 1;
    grid-column-end: 13;
    overflow-y: scroll; /* Use overflow-y instead of overflow-y-scroll */
    max-height: calc(100%); /* Adjust the max-height as per your layout */
  }


  .due-loan-card {
    @apply flex items-center justify-center text-center mr-3;
    grid-row-start: 2;
    grid-row-end: span 3;
    grid-column-start: 3;
    grid-column-end: 7;
  }

  .loan-details-card{
    overflow-y: scroll;
    overflow-x: hidden; /* Use overflow-y instead of overflow-y-scroll */
    max-height: calc(50%); /* Adjust the max-height as per your layout */
  }